@media (width >= 320px) and (width <= 425px) {
  .navbar-brand h2 {
    font-size: 2rem;
    color: var(--secondary-color);
    transition: all 0.5s ease-in-out;
  }

  .scroll-top {
    visibility: hidden;
  }

  .home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .hero-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
  }

  .about-holder {
    width: 300px;
    height: 350px;
    position: relative;
  }
  .whole-about {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .accordion {
    width: 320px;
    border-radius: unset;
  }

  .education h3 {
    margin: 20px 0px;
  }

  .page-title {
    text-align: center;
  }

  .about-text {
    display: flex;
    align-items: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
  }

  #internship {
    height: 40vh;
    background-attachment: scroll;
  }

  #internship h1 {
    font-size: 50px;
  }

  #project {
    height: 40vh;
    background-attachment: scroll;
  }

  #project h1 {
    font-size: 50px;
  }

  .project-card {
    margin: 10px 0;
  }

  .card-action-message:after {
    content: "Click Me";
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px 0px 30px 0px;
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-bottom {
    padding: 10px 0px 0px;
  }

  .to-top {
    font-size: 27px;
    right: 15px;
    /* box-shadow: 0px 0px 7px var(--black-color); */
    filter: drop-shadow(0px 0px 3px var(--white-color));
  }
}

@media (width > 425px) and (width < 768px) {
  .home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .hero-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .hero-img img {
    width: 100%;
  }

  .about-text {
    margin-top: 45px;
    text-align: justify;
    padding: 30px;
  }

  .accordion {
    width: 425px;
    border-radius: unset;
  }

  .education h3 {
    margin: 0px 0px 30px 0px;
  }

  #internship {
    height: 55vh;
  }

  #internship h1 {
    font-size: 70px;
  }

  #project {
    height: 55vh;
  }

  #project h1 {
    font-size: 70px;
  }

  .card-action-message:after {
    content: "Click Me";
  }
}
