@import url("https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: 'Rokkitt', serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rokkitt", serif;
}

body,
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

:root {
  --primary-color: #0084ff;
  --secondary-color: #ff0037;
  --white-color: #fff;
  --black-color: #000;
  --grey-color: #464646;
}

::selection {
  background-color: #1616166b;
  color: var(--white-color);
}

::-webkit-scrollbar {
  background-color: var(--grey-color);
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border: 1px solid var(--black-color);
  background-color: var(--primary-color);
}

:focus {
  outline: unset;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

a:hover,
a:focus {
  color: var(--secondary-color);
}

.active {
  color: var(--black-color) !important;
}

/* Custom Css */

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-color);
  line-height: 3rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-color);
  line-height: 3rem;
}

h4 {
  font-size: 18px;
  font-weight: 800;
  text-transform: capitalize;
  color: var(--primary-color);
  line-height: 3rem;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--primary-color);
  line-height: 3rem;
}

p {
  font-size: 1rem;
  color: var(--grey-color);
  font-weight: 500;
  letter-spacing: 1px;
}

ul {
  color: var(--grey-color);
  list-style: none;
  padding-left: 0;
  margin: 0;
}

span {
  color: var(--secondary-color);
}

/* Custom Css */

/* Reveal Animation */

/* .reveal
{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all .7s ease;
}

.reveal.scroll-active
{
    transform: translateY(0px);
    opacity: 1;
} */

/* Reveal Animation */

/* Header Section */

.navigation-wrap {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  background: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-brand {
  cursor: pointer;
}

.navbar-brand h2 {
  color: var(--secondary-color);
  transition: all 0.5s ease;
}

.navbar-brand h2:hover {
  color: var(--primary-color);
}

.logo-span {
  color: var(--grey-color);
  font-size: 1rem;
}

.nav-item {
  padding: 0 0.5rem;
  transition: all 0.5s linear;
}

.navbar-toggler {
  border: none;
  border-radius: unset;
}

.navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
  text-align: center;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-color);
  letter-spacing: 1px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav-link:hover,
.nav-link:focus,
.active {
  color: var(--secondary-color);
}

#menu {
  color: var(--black-color);
  text-shadow: 0 0 2px var(--grey-color);
}

.navigation-wrap.scroll-on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--white-color);
  box-shadow: 0 0 1.5rem 1.8rem rgb(0, 0, 0, 0.09);
  transition: all 0.4s ease 0s;
}
/* Header Section */

/* Home Section */

#home {
  padding: 7rem 0 5rem;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.home-title {
  color: var(--primary-color);
}

.home-title span {
  transition: all 0.2s ease;
}

.home-title span:hover {
  color: var(--grey-color);
  cursor: none;
}

.home-sub-title span {
  color: var(--black-color);
  font-size: 50px;
}

.major-one-liner {
  font-size: 17px;
}

.hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  overflow: hidden;
}

.hero-img img {
  transition: all 0.5s ease-in-out;
}

.hero-img img:hover {
  border-radius: 50%;
}

.download-button {
  padding: 5px 20px;
  text-align: center;
  font-weight: 700;
  outline: 0;
  color: var(--black-color);
  border: 2px solid var(--black-color);
  background-color: transparent;
  box-shadow: 4px 4px 0.5px 1px var(--black-color);
  transition: all 0.3s ease;
}

.download-button:hover,
.download-button:focus {
  transform: translateX(4px) translateY(4px);
  box-shadow: unset;
  background-color: var(--black-color);
  color: var(--white-color);
}

.home-socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.home-socials a i {
  cursor: pointer;
  font-size: 17px;
  color: var(--black-color);
  transition: all 0.2s ease;
}

.home-socials a i:hover,
.home-socials a i:focus {
  color: var(--primary-color);
}

/* Home Section */

/* About Container */

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(235, 235, 235, 0.479);
  padding: 60px 0px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-img {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img img {
  width: 70%;
}

.about-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}

.education h3 {
  text-align: center;
  margin: 30px 0px;
}

.accordion {
  width: 700px;
  border-radius: unset;
}

.accordion-item {
  margin: 5px;
}

.accordion-button {
  font-weight: 700;
  color: var(--primary-color);
  outline: unset;
  box-shadow: 0 0 0 transparent;
  border: 2px solid var(--primary-color);
  border-radius: 0px;
}

.accordion-button:focus {
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 0 transparent;
}

.accordion-button:not(.collapsed) {
  box-shadow: 0 0 0 transparent;
  background-color: var(--black-color);
  color: var(--primary-color);
  font-weight: 700;
}

.accordion-item:first-of-type .accordion-button,
.accordion-item:first-of-type .accordion-button.collapsed,
.accordion-item:last-of-type .accordion-button,
.accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 0px;
  outline: 0;
}

.accordion-body ul li {
  font-size: 16px;
}

.accordion-body ul li span {
  font-size: 18px;
  font-weight: 500;
}

.skill-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.skill {
  padding: 5px 10px;
  background-color: var(--primary-color);
  box-shadow: 4px 4px 0.5px 1px var(--black-color);
  margin: 10px 10px;
  font-size: 15px;
  color: var(--black-color);
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}

.skill:hover {
  box-shadow: 0;
  transform: translateY(4px) translateX(4px);
  box-shadow: none;
}
/* About Container */

/* Internship Section */

#internship-banner {
  width: 100%;
  padding-top: 50px;
}

#internship {
  width: 95%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./images/internbg.jpg);
  background-position: center;
  background-size: cover;
  background-color: #00000052;
  background-blend-mode: overlay;
}

#internship h1 {
  font-size: 90px;
  font-weight: 100;
  color: var(--white-color);
  text-shadow: 0 0 10px var(--white-color);
}

.over-title {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #00000052;
  background-blend-mode: overlay;
}

.over-title h1 {
  color: var(--white-color);
  text-shadow: 0 0 7px white;
  font-weight: 100;
}

.over-title span {
  color: var(--primary-color);
}

.internship-holder {
  height: auto;
}

.card-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.internship-card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-weight: 600;
  background: #f0f0f0;
  border: 1px solid var(--black-color);
  transition: all 0.4s ease;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.internship-card:hover {
  transform: scale(1.02);
  background: rgba(209, 209, 209, 0.438);
  box-shadow: unset;
  color: var(--primary-colorx);
  border: 1px solid var(--primary-color);
}

.num-span {
  position: absolute;
  top: 5px;
  right: 10px;
  font-weight: 900;
  font-size: 20px;
  color: rgb(151, 151, 151);
  transition: all 0.4s ease;
}

.internship-card:hover .num-span {
  color: var(--black-color);
}

.itd {
  border-bottom: 1px solid #949494;
}

.card-icon {
  color: var(--black-color);
  transition: all 0.3s ease;
}

.card-title {
  transition: all 0.3s ease;
}

.internship-card:hover .card-title {
  color: var(--primary-color);
}

.internship-card:hover .card-icon {
  color: var(--secondary-color);
}
/* Internship Section */

/* Project Section */

#project-banner {
  width: 100%;
  background-color: rgba(235, 235, 235, 0.479);
  padding-top: 50px;
}

#project {
  width: 95%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./images/projectbg.jpg);
  background-position: center;
  background-size: cover;
  background-color: #00000096;
  background-blend-mode: overlay;
}

#project h1 {
  font-size: 90px;
  font-weight: 100;
  color: var(--white-color);
  text-shadow: 0 0 10px var(--black-color);
}

.projects-holder .card-holder {
  position: relative;
  margin: 1px;
  background-color: var(--white-color);
}

.project-card {
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  position: relative;
  border: 2px solid var(--primary-color);
  transition: all 0.5s ease;
}

.project-card:hover {
  border: 2px solid var(--black-color);
}

.project-card:hover .project-card-title {
  opacity: 0;
}

.project-card:hover .project-card-text {
  opacity: 1;
}

.projectnum {
  position: absolute;
  top: 0;
  left: 10px;
  font-weight: 900;
  font-size: 100px;
  color: var(--grey-color);
}

.project-card-title {
  position: absolute;
  color: var(--primary-color);
  background: #000000de;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.project-card-title i {
  color: var(--secondary-color);
  font-size: 35px;
}

.card-action-message {
  font-size: 19px;
  position: relative;
}

.card-action-message:after {
  content: "Hover Me";
}

.project-card-text {
  height: 100%;
  color: var(--black-color);
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 3;
}

.project-card-text h5 {
  font-size: 30px;
  position: relative;
}

.project-card-text h5:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 3px;
  height: 3px;
  background: var(--grey-color);
}

.project-card-text p {
  font-weight: 500;
  color: var(--black-color);
  text-align: justify;
}

.project-card-text ul {
  font-weight: 500;
  color: var(--black-color);
}

.project-button-holder {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.project-view-btn {
  padding: 5px 20px;
  text-align: center;
  font-weight: 700;
  outline: 0;
  color: var(--black-color);
  border: 2px solid var(--black-color);
  background-color: transparent;
  transition: all 0.3s ease;
}

.project-view-btn:focus,
.project-view-btn:hover {
  box-shadow: unset;
  background-color: var(--black-color);
  color: var(--white-color);
}

.git-project-view-btn {
  padding: 5px 20px;
  text-align: center;
  font-weight: 700;
  outline: 0;
  color: var(--black-color);
  border: 2px solid var(--black-color);
  background-color: transparent;
  transition: all 0.3s ease;
}

.git-project-view-btn:focus,
.git-project-view-btn:hover {
  box-shadow: unset;
  background-color: var(--black-color);
  color: var(--white-color);
}

/* Project Section */

/* Contact Section */
#contact {
  background-color: rgb(235, 235, 235);
}

.contact-section {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.contact-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  border: 2px solid var(--primary-color);
  padding: 5px;
  background-color: transparent;
  outline: unset;
  width: 100%;
}

.contact-form textarea {
  height: 200px;
  resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 2px solid var(--black-color);
}

.send-btn {
  width: 310px !important;
  text-align: center;
  font-weight: 700;
  outline: 0;
  color: var(--black-color);
  border: 2px solid var(--black-color) !important;
  background-color: transparent;
  transition: all 0.3s ease;
}

.send-btn:focus,
.send-btn:hover {
  box-shadow: unset;
  background-color: var(--black-color);
  color: var(--white-color);
}
/* Contact Section */

/* Footer Section */

.footer {
  background-color: var(--grey-color);
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.socials a i {
  padding: 0.25rem 1rem;
  cursor: pointer;
  font-size: 17px;
  color: var(--white-color);
  transition: all 0.2s ease;
}

.socials a i:hover,
.socials a i:focus {
  padding: 0.25rem 1rem;
  transform: translateY(-5px) !important;
  color: var(--primary-color);
}

.footer-bottom {
  padding: 10px 0 0 0;
}

.footer-bottom span {
  color: var(--primary-color);
  text-shadow: 0 0 7px var(--black-color);
}

/* Footer Section */

/* Scroll To Top Button */

.to-top {
  position: fixed;
  right: 50px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(0px);
  transition: all 0.2s ease;
}

.to-top.animateToTop {
  opacity: 1;
  transform: translateY(-10px);
}

.to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.to-top i:hover,
.to-top i:active {
  transform: translateX(-5px) translateY(-5px);
  font-weight: 900;
}

/* Scroll To Top Button */
