@import url("https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rokkitt", serif;
  cursor: none;
}
html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

::selection {
  background-color: #464646;
  color: #ffffff;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #808080;
}

::-webkit-scrollbar-thumb:active {
  background-color: #696969;
}

:focus {
  outline: unset;
}

.groupForImage {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.groupForImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: transform 4.5s ease-in-out;
}

.groupForImage:hover img {
  /* Scroll the image only by its height minus the container's height */
  transform: translateY(calc(-100% + 300px));
}
